<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308898818797-56144q0hud2tg2lkfb7a0a7p16kkg3j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308898818797-56144q0hud2tg2lkfb7a0a7p16kkg3j8</string>
	<key>API_KEY</key>
	<string>AIzaSyCLf06zlA1G2_6mDU2DL7hS-Wh7i4yhskg</string>
	<key>GCM_SENDER_ID</key>
	<string>308898818797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VC.BeReal</string>
	<key>PROJECT_ID</key>
	<string>berealapp-c2a5a</string>
	<key>STORAGE_BUCKET</key>
	<string>berealapp-c2a5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308898818797:ios:bc9470736de3e92d47bae4</string>
</dict>
</plist>